.quote-box {
	margin: auto;
	width: 40%;

	padding: 10px;

	padding: 5px 25px;

	margin-top: 50px;
	border-radius: 10px;
	background-color: rgb(36, 35, 35);
}
.quote {
	color: rgb(175, 170, 170);
	font-weight: bold;
	text-align: justify;
	font-size: 1.1em;
	font-style: italic;
}
.author {
	position: relative;
	left: 350px;
	bottom: 25px;
	font-size: 1em;
	font-weight: bold;
	color: rgb(175, 170, 170);
}

.btn_ctr {
	display: flex;
	width: 100px;
	margin: 0px 25px;
	justify-content: space-evenly;
	align-items: baseline;
}
.social_media {
	display: flex;
	width: fit-content;
	flex-direction: row;
}
.s_media {
	width: 30px;
	height: 30px;
	margin: 0px 10px;
	cursor: pointer;
}
.nextQuote {
	position: relative;
	left: 300px;
	bottom: 20px;
	border-radius: 5px;
	border: solid rgb(100, 100, 104) 1px;
	color: white;
	width: 100px;
	height: 30px;
	background-color: rgb(100, 100, 104);
}
